Options +FollowSymLinks

<IfModule mod_rewrite.c>
	RewriteEngine on
	
	RewriteCond %{HTTP_HOST} ^v1\.bus\.tv$
	RewriteRule ^about/?$ /v1/forms/about.php [QSA,L]
	RewriteRule ^links/?$ /v1/forms/more.php [QSA,L]
	RewriteRule ^my/([^/]+)(/(.+))?$ /v1/forms/$1.php?type=$3 [QSA,L]
	
</IfModule>
