Options +FollowSymLinks

<IfModule mod_rewrite.c>
	RewriteEngine on
	#glolal url
	RewriteRule ^ajax/(.+)$ /admin/$1.php [QSA,L]
	RewriteRule ^share/(.+)$ /admin/share.php?g=$1 [QSA,L]
	#bus.fm
	RewriteCond $1 !^(thumb|admin|blog|app|robots\.txt|favicon\.gif|favicon\.ico|preview|v1)(/|$) [NC]
	RewriteCond %{HTTP_HOST} ^(www\.)?bus\.\w\w$
	RewriteRule ^(.*)$ /preview/$1 [QSA,L]
	#v1.bus.fm
	RewriteCond $1 !^(thumb|admin|blog|app|robots\.txt|favicon\.gif|favicon\.ico|preview|v1)(/|$) [NC]
	RewriteCond %{HTTP_HOST} ^v1\.bus\.\w\w$
	RewriteRule ^(.*)$ /v1/$1 [QSA,L]
	
</IfModule>
