Options +FollowSymLinks

<IfModule mod_rewrite.c>
	RewriteEngine on
	#glolal url
	RewriteRule ^ajax/(.+)$ admin/$1.php [QSA,L]
	RewriteRule ^share/(.+)$ admin/share.php?g=$1 [QSA,L]
	#level 1 folder don't rewrite
	RewriteRule ^admin/(.*)$ admin/$1 [QSA,L]	
	RewriteRule ^blog/(.*)$ blog/$1 [QSA,L]	
	RewriteRule ^preview/(.*)$ preview/$1 [QSA,L]
	RewriteRule ^v1/(.*)$ v1/$1 [QSA,L]
	#bus.fm
	RewriteCond %{HTTP_HOST} ^(www\.)?bus\.tv$
	RewriteRule ^/?(.*)$ /preview/$1 [QSA,L]
	#v1.bus.fm
	RewriteCond %{HTTP_HOST} ^v1\.bus\.tv$
	RewriteRule ^about/?$ /v1/forms/about.php [QSA,L]
	RewriteRule ^links/?$ /v1/forms/more.php [QSA,L]
	RewriteRule ^my/([^/]+)(/(.+))?$ /v1/forms/$1.php?type=$3 [QSA,L]
	RewriteRule ^/?(.*)$ /v1/$1 [QSA,L]
	
</IfModule>
