@charset "UTF-8";
*{margin:0;padding:0;}
body,html{width:100%; height:100%;font:400 12px/1.5 微软雅黑, arial,宋体;}
body{position:relative; color:#959595; min-height:760px; overflow-y:scroll;}
body.highbody{min-height:850px;}
a{color:#959595; text-decoration:none; outline:none;}
a:hover{ text-decoration:underline; color:#388;}
a img{border:none;}
li{list-style:none;}
.bgray{background-color:#eee;}
.right{text-align:right;}
.center{text-align:center;}
.fright{float:right;}
.boxshadow{box-shadow:0px 0px 5px #06c;}
.downarr{display:inline-block; width:0; height:0x; font-size:0; border:5px solid transparent; border-top-color:#666; position:relative; cursor:pointer;}
.downarr:hover{border-top-color:#000;}
.uparr{width:0; height:0x; font-size:0; border:8px solid transparent; border-bottom-color:#fff; position:absolute; bottom:0; right:160px;}/*45,160*/
.round10{-moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;}
.round{-moz-border-radius: 5px;-webkit-border-radius:5px;border-radius:5px;}
.box-shadow{ -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);box-shadow:0 0 10px rgba(0, 0, 0, 0.5);}
.flink{cursor:pointer;}
.roundbtn{width:96px; height:25px; background:url(../img/btn3.png) 0 0 no-repeat; border:none; color:#959595; outline:none;}
.roundbtn:hover{background-position:0 -25px;}
.opacity7{opacity:0.7;filter:alpha(opacity=70);}
.icon-question{background:url(../img/sprint2.gif) 2px -442px no-repeat;display:inline-block; width:12px;height:12px; cursor:pointer;}
#jp{height:0;}
#ajaxload{background:url(../img/loading.gif) left top no-repeat; width:22px; height:22px; position:absolute; left:50%; top:40%; z-index:19999; display:none;}

/*header*/
#logo{width:188px; height:88px; position:absolute; top:30px; left:0; background:url(../img/logo.png) -40px 0 no-repeat;}
#header{height:90px;}
#hd-container{width:960px; margin:0 auto; text-align:right; padding-top:5px; padding-right:20px; position:relative; height:85px;}
.login-action{ top:-2px; left:4px;}
#hd-container .channel-bar{position:absolute; bottom:10px; right:20px; width:100%;}
#hd-container .channel-bar a{font-size:16px; margin-left:70px;}
#hd-container .channel-bar a:hover{text-decoration:none;}
.logged{display:none;cursor:pointer;}
#p-context-menu{background:#fefefe; z-index:10; position:absolute; right:20px; display:none; padding:10px; border:1px solid #ccc;}
.ch-private{display:none;}
.cb-public{padding-left:25px; background:url(../img/sprint3.png) no-repeat scroll 0px 5px transparent;}
.cb-private{padding-left:25px; background:url(../img/sprint3.png) no-repeat scroll 0px -15px transparent;}
#actlogin{margin-right:8px;}

/*main panel*/
#mainbody{width:960px; min-height:525px; position:relative; overflow:hidden; margin:0 auto;}
#toolbar{height:65px; text-align:right; position:relative;}
#v-handle{cursor:pointer; background:url(../img/sprint3.png) 0 -109px no-repeat; width:55px; height:16px; position:absolute; top:40px; right:70px;}
#v-handle:hover{background-position:0 -128px;}
#v-handle.casemulti{background-position:0 -69px;}
#v-handle.casemulti:hover{background-position:-1px -92px;}
#channellist{margin-top:10px;}
#channellist a{text-decoration:none;}
#channellist span{margin-left:10px; padding:2px 12px 2px 24px;}
#channellist span.cur{background:url(../img/wave.gif) no-repeat 10px 6px; background-color:#fff;}
#channellist span.wavestatic{background-image:url(../img/wave_stop.gif)!important;}
.cur a{color:#388;}
#subpage{display:none;}

#singleview,#multiview{width:100%; position:relative;overflow:hidden;}
#multiview{display:none;}
#dock{position:absolute;width:100%;height:40px;left:-40px;bottom:50px;z-index:1;}
#dock img{width:1030px;}
#leftdetail{ width:530px; float:left; overflow:hidden; padding-left:70px;}
.song-meta{padding-left:5px;}
#s-title{ font-size:30px;}
#s-album{font-weight:600;}
#metas a{margin-right:8px;}
#metas a:hover{color:#a00;}
.song-meta-ext{margin:30px 0 30px 0;}
#song-history{position:absolute; bottom:0;left:70px; width:500px;text-align:right;overflow:hidden;white-space:nowrap;z-index:10;}
#song-history img{ width:95px; height:95px; /*opacity:0.6; filter:alpha(opacity=60);*/}
#view-album a{ text-decoration:underline; margin-left:5px;}
#view-album a:hover{color:#a00;}

/*reflection*/
#song-history{ height:150px; vertical-align:top;overflow:hidden;}
#song-history canvas{width:95px!important;}
#song-history div{display:inline-block; margin-right:20px;opacity:1!important; filter:alpha(opacity=100)!important; width:95px!important; padding:5px; height:145px!important;}
#singleview canvas{margin-top:1px;}

#rightcover{width:360px; float:right; overflow:hidden;position:relative;z-index:10;}
#rightcover .cover-img{width:290px; height:340px; overflow:hidden; vertical-align:top;}
#rightcover .cover-img img{height:290px!important;width:290px!important;}
#rightcover .cover-img img.loading{width:24px!important; height:24px!important; margin:140px auto auto 140px;}
#rightcover .cover-img div:first-child{width:340px; height:340px;}
#rightcover .cover-img canvas{width:340px;}

#alumn-wall{overflow:hidden;}
#alumn-wall li{width:100px; height:100px; float:left; margin:6px; overflow:hidden;}
#alumn-wall li img{width:100px;}
#m-song-meta{clear:left; height:80px; text-align:center; margin-top:10px;}
.msmeta-title{font-weight:600; font-size:18px;}
.msmeta-detail a{margin-right:8px;}

/*footer*/
#footer-index{min-height:80px;max-height:200px; width:100%; position:absolute; bottom:0; left:0;}
#copyright{position:absolute; bottom:0; left:0; width:100%; text-align:center; background:url(../img/foot-spilt.jpg) no-repeat center 10px; padding:20px 0 10px 0;}
#pbwrap{text-align:center; max-height:140px;width:960px;position:relative;margin:5px auto 40px;}
/*#publicdiary{display:table-cell; vertical-align:middle; text-align:center; width:960px;height:140px;}*/
#publicdiary{width:960px;max-height:140px; overflow:auto;}
#diatb{width:100%;}
.pbauthor{color:#388;}
.nodiary{height:55px!important;}
.nodiary #pbwrap{display:none;}
#pbcountdown{width:50px; height:50px; font-size:40px;color:#dfdfdf;font-weight:600;overflow:hidden;text-shadow:0 -1px 1px #b1b2b3,0 1px 1px #fff;position:absolute;top:10px;left:-50px;}


#his-tips{ position:absolute; z-index:100; display:none; opacity:0.9; filter:alpha(opacity=90);}
#his-tips .ht-cont{ background:#000; color:#fff; padding:8px 12px; font-family:Arial,微软雅黑,宋体;  min-height:40px; min-width:110px;}
#his-tips .ht-arr{width:0; height:0px; background-color:transparent; border:6px solid transparent; border-top-color:#000; position:absolute; left:48%;}

#ieupgrade{background:#ffe; border-bottom:1px solid gray; width:100%; height:24px; line-height:24px; position:absolute; top:0; left:0;}
#ieupgrade span.ietxt{padding-left:25px; color:#111; cursor:default; background:url(../image/sprint2.gif) no-repeat 5px 0;}
#ieupgrade span.ieclose{float:right; display:inline-block; width:10px; height:10px; background:url(../image/sprint2.gif) no-repeat 0 -18px; margin-top:8px; margin-right:10px; cursor:pointer;}
.iehover{background:navy!important;}
.iehover span.ietxt{color:#fff!important;}
.iehover span.ieclose{background-position:-10px -18px!important;}

/*keyaction, keyhelp*/
#keyaction,#keyhelp{color:#fff; background:#000; filter:alpha(opacity=0); opacity:0;position:fixed; top:50%; left:50%; z-index:10000; font:1em/1em arial,微软雅黑,sans-serif;}
#keyaction{ width:220px; height:80px; text-align:center; margin-top:-60px; margin-left:-110px;  font-size:3em; line-height:80px; display:none;}
#keyhelp{ width:600px; height:250px; top:-290px; margin-left:-300px; display:block; filter:alpha(opacity=85); opacity:0.85; padding:20px; display:none;}
#keyhelp .kh-top{font-weight:600; font-size:16px; border-bottom:1px solid #999; padding-bottom:10px; margin-bottom:10px;}
#keyhelp .fright,#keyhelp .flink{color:#dd0;}
#keyhelp .kh-body{font-size:16px; line-height:21px;}
#keyhelp .kh-body span{color:#8d0; font-style:normal;}
#keyhelp .kh-body em{ display:inline-block; width:200px; text-align:right;}

/*player*/
#player{}
#jplayer_control{width:700px; height: 60px;background:url(../img/player.png) repeat-x 0 -120px;  margin:5px auto 0 auto;}
#jplayer_control span{display:inline-block; height:60px; width:25px; background:url(../img/player.png) no-repeat 0 0;}
#jplayer_control .player-left{}
#jplayer_control .player-right{float:right; background-position:right 0;}
#jplayer_control span.sep{background-position:0 -61px;}
#jplayer_control span.narrsep{width: 3px; background-position: -10px -61px;}
#jplayer_play span{background-position:-24px -61px; margin-left:15px;}
#jplayer_pause span{background-position:-46px -61px; margin-left:15px;}
#jplayer_next span{background-position:-220px -61px; margin-left:15px;}
#jplayer_vmin span{background-position:-158px -61px;width:16px;}/*unmute:-154,mute:-137*/
#jplayer_vmin span.mute{background-position:-141px -61px;}
#fav span{background-position:-90px -61px; margin-left:15px; width:25px;}
#fav span.star{background-position:-114px -61px;}
#jplayer_control a span{opacity:0.6; filter:alpha(opacity=60);}
#jplayer_control a:hover span{opacity:1; filter:alpha(opacity=100);}
#jplayer_control div{display:inline-block;}
#seekbar{width:340px; height:2px;border:1px solid transparent; position:relative; top:-28px;}
#seekbar .j-play-bar{height:100%; background:#34c4c4; width:0; position:absolute; top:0; left:0; z-index:5; width:0%;}
#seekbar .j-seek-bar{height:100%; background:#eee; width:0; position:absolute; top:0; left:0; z-index:1; width:0%;}
#jplayer_control .duration{position:relative; top:-26px;}
#jplayer_control #pt,#jplayer_control #tt{ display:inline; background:none;}
#jplayer_control #jpalyer_v_wrap{width:0; height:50px; font-size:0; position:relative; top:-30px; cursor:pointer;}
#jplayer_control #jplayer_vbar{background:#eee; width:100%; height:2px; cursor:pointer; margin-top:25px;  margin-right:5px;display:none;}
#vamount{height:100%; width:100%; background:#34c4c4;}
/*#jplayer_control #jplayer_vbar{background-position:-295px -61px; width:32px; cursor:pointer;}
#jplayer_control #vamount{background-position:-331px -61px; width:100%;}*/
#share{ position:relative; top:-28px; cursor:pointer;}
#share .downarr{position:relative; top:3px; left:4px;}

/*common msgs*/
#msgs{color:#fff;background:#000; filter:alpha(opacite=0); opacity:0; padding:3px 15px; position:absolute; top:35px; left:50%; z-index:999;}
#msgs a {color:#fff; text-decoration:underline; margin-left:10px;}
.msg_err{background:#a00!important;}

/*clipbord*/
#clipbord{ background:#fff; width:300px; height:50px; border:3px solid #ccc; padding:20px; position:absolute;left:50%; z-index:200;display:none; }
#clipbord input.mp3url{width:280px; border:1px solid #ccc;}
#clipbord a.snsicon{ background:url(../img/sns.gif) 0 0 no-repeat; display:inline-block; width:16px; height:16px; margin-right:1px; opacity:0.8; filter:alpha(opacity=80);}
#clipbord a.snsicon:hover{ opacity:1; filter:alpha(opacity=100);}
#clipbord .n-uparr{background:url(../img/sprint2.gif) no-repeat scroll 0 -460px transparent; height:10px; width:15px; position:absolute; top:-9px; right:30px;}
.n-close{ position:absolute; top:10px; right:5px; width:14px; height:14px; background:url(../img/sprint2.gif) no-repeat 0 -17px; cursor:pointer;}

/*dialog-login-reg*/
#srccover{position:absolute; top:0; left:0; width:100%; height:100%;background:#555;filter:alpha(opacity=70);opacity:0.7;z-index:300;display:none;}
#dg-container{position:absolute; top:45%;left:50%;width:465px; height:335px; margin-left:-230px; margin-top:-165px;z-index:400; display:none;}
#dg-container li{padding-left:25px;}
#dg-container .dg-c-header{color:#fff; height:30px; line-height:30px; background:#34c5c3; width:100%; border-radius:3px 3px 0 0;}
#dg-container .dg-c-title{font-weight:600;  margin-left:20px; font-size:14px;}
#dg-container .dg-c-arr{font-size:1.5em;}
#dg-container .dg-c-close{float:right;margin-right:10px; margin-top:2px;}
#dg-container .dg-c-close a{width:15px; height:15px;display:inline-block;background:url(../img/sprint3.png)  -2px -41px  no-repeat;}
#dg-container .dg-c-body{background:#fff url(../img/watermark.png) right bottom no-repeat; width:100%; height:100%; border-radius:0 0 3px 3px;}
#dg-container li{height:24px; line-height:24px;}
#dg-container form{ padding-top:40px;}
#dg-container .loginTxt{width:220px; border:#ddd 1px solid; height:22px; margin-right:10px;}
#dg-container form{display:none;}
#dg-container .dg-c-info{background-color:#ffc; position:absolute; width:100%;}
#dg-container .dgcinfo-body{padding:5px 10px; color:red; display:none; text-align:center;}
#dg-container .dgcinfo-body span{ margin-right:5px;}

.onerror{background:url(../img/check_error.gif) right 5px no-repeat;}
.onvali{background:url(../img/loading32.gif) right 4px no-repeat;}

/*page*/
.page-body{width:820px;padding:30px 70px 0 70px; background:url(../img/leaf.png) right bottom no-repeat;min-height:500px;}
.pagebg2{background-image:url(../img/leaf2.png);}
.page-body h3{font-size:1.5em;}
#page-navi-home{padding-left:18px; background:url(../img/sprint2.gif) left -420px no-repeat;}