@charset "UTF-8";
/*include*/
*{margin:0; padding:0;font-size:12px;font-family:宋体;}
html,body{width:100%; height:100%;font-size:12px; overflow-x:hidden;}
#header{height:60px;}
#logo{background:url(../image/bg6.png) no-repeat 0 0; position:relative; left:33px; width:133px; height:118px;}
#info{position:relative;top:-110px; left:200px;}
#info a{color:#777; text-decoration:none;}
#info a:hover{text-decoration:underline; color:#088;}
#cont{position:relative; height:600px;}
ul#navi{ position:absolute;left:0;top:80px; width:200px; z-index:100;}
#navi li{list-style:none; height:48px; line-height:48px; padding-right:65px; text-align:right; width:140px;}
#navi li a{ font-family:微软雅黑,宋体; font-size:20px; color:#777; text-decoration:none;}
#navi li :hover{color:#a00;}
#navi li.cur{ background:url(../image/pnlarr2.png) no-repeat right -10px;}
#navi li.cur a{color:#088;}
#tab{border:2px solid #8bb; width:724px; height:510px; padding:20px 50px; position:absolute; left:199px; top:0;z-index:20; background:#fcfcdd; _background-image:url(../image/ie6/form2.gif);}

#footer{position:absolute; bottom:0; left:0; width:100%; height:24px; line-height:24px; background:#efefef; color:#666; z-index:9998; padding-left:15px;}
#footer a{color:#666; margin:auto 6px; text-decoration:none;}
#footer a:hover{text-decoration:underline;}
#footer .rights{float:right; margin-right:35px;}

#msgs{ position:absolute; top:33px;left:48%; opacity:0; filter:alpha(opacity=0); padding:5px 10px; -moz-border-radius: 5px;-khtml-border-radius: 5px;-webkit-border-radius:5px;border-radius:5px;}
.alertdiv{border:1px solid #088; background:#088; color:#eee;}
.errdiv{border:1px solid #a33; background:#a33; color:#eee;}

#tabbg{background:gray; opacity:0.22; filter:alpha(opacity=22); width:826px; height:552px; position:absolute; top:6px; left:206px}

/*forms*/
#dtitle{margin:20px auto 0 0; font-weight:600; font-size:20px; color:#088; border-bottom:1px solid #aaa; padding-bottom:10px;}
ul{overflow:visible; white-space:nowrap; margin:20px auto;}
li{list-style:none; margin-top:10px; height:26px; line-height:26px; color:gray;}
.infoli{width:520px; line-height:18px; font-family:arial; padding-left:15px; white-space:normal;}
li .lititle{display:inline-block; width:100px; text-align:right;}
li input{border:1px solid #aaa; height:20px; line-height:20px; color:gray;}
.tips{line-height:20px; margin-left:10px; padding:3px 16px; font-weight:400;vertical-align:middle; background:url(../image/sprint2.gif) no-repeat 50px 50px;}
.onfocus{color:gray; background-position:0 -80px;}
.onerror{color:red; background-position:0 -98px;}
.onpass{color:green; background-position:1px -63px;}
.onvali{color:gray; background:url(../image/loading2.gif) no-repeat 0 1.5px;}
.txtreg,.loginTxt{width:200px;}
#btnok{padding:0 8px;}
.round{-moz-border-radius:10px;-khtml-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
