@charset "UTF-8";

/*box*/
#box-main{width:500px; position:absolute; left:200px; top:80px; z-index:9000; display:none; color:#888;}
#b-head, #b-head div, #b-foot, #b-foot div{height:28px;}
#b-head .h-left,#b-head .h-right, #b-foot .f-left,#b-foot .f-right{background:url(../image/box/corner.png) no-repeat;}
#b-head .h-left{ background-position:0 0; padding-left:28px;}
#b-head .h-right{background-position:right 0; padding-right:30px; position:relative;}
#b-head .h-mid{background:#f4f4f4 url(../image/box/top.png) repeat-x 0 0;}
#b-body{ background:url(../image/box/left.png) repeat-y 0 0; padding-left:30px;}
#b-body .b-main{background:url(../image/box/right.png) repeat-y right 0; padding-right:15px;}
#b-body .b-cont{background:#fff; padding-top:40px;}
#b-foot .f-left{ background-position:0 bottom; padding-left:28px;}
#b-foot .f-right{ background-position:right bottom; padding-right:28px;}
#b-foot .f-mid{ background: #f4f4f4 url(../image/box/bottom.png) repeat-x 0 bottom;}
#boxclose{ width:30px; height:30px; background:url(../image/box/b-close.png) no-repeat 0 0; position:absolute; top:-10px; right:-10px; cursor:pointer;}
#boxtitle{width:67px; height:40px; background:url(../image/box/fonts.gif) no-repeat 0 0; position:absolute; top:20px; left:30px;}
#txtdiary{border:1px solid #eee; background:#ffe; font-size:12px; width:95%; height:80px; overflow-y:auto; color:#888; font-family:arial; resize:none;}
#subdiary{cursor:pointer; width:66px; height:28px; border:1px solid #ddd; background:url(../image/box/fonts.gif) no-repeat 0 -40px; margin:10px 10px 0 0; display:inline-block;}
#subdiary:hover{background-color:#ffb;}
#privateflag{ float:left; margin-top:15px;}
#diarylist{position:relative; margin-bottom:15px; min-height:100px;}
#diarylist .leftarr, #diarylist .rightarr{background:url(../image/sprint2.gif) no-repeat 0 -276px; width:19px; height:19px; position:absolute; top:35px; cursor:pointer;}
#diarylist .leftarr{left:0;}
#diarylist .rightarr{background-position:right -276px; right:20px;}
#diarylist .leftarr:hover{background-position:0 -294px;}
#diarylist .rightarr:hover{background-position:right -294px;}
#diarylist .diarytxt{position:relative; margin-left:30px; margin-right:45px;}
#diarylist .diarytxt .diarybody{line-height:16px;}
#diarylist .diarytxt .diarytime{margin-top:5px; padding-top:5px; border-top:1px dashed #ddd; text-align:right;}

#publicdiary