@charset "UTF-8";
*{ margin:0;padding:0;}
html,body{height:100%; width:100%; overflow:hidden; background:#f4f4f4 none;}
body{background:url(../image/bg2.png) 33px 0 no-repeat transparent; font-size:12px;}
ul{list-style:none;}
a{text-decoration:none; outline:none;}
.right{text-align:right;}
.center{text-align:center;}
.round, #channel-list li{-moz-border-radius: 5px;-khtml-border-radius: 5px;-webkit-border-radius:5px;border-radius:5px;}
.statusbar{ height:54px; width:100%; position:absolute; bottom:14px; left:0; overflow:visiable; white-space:nowrap; background:#fff url(../image/dbradio2.png) 0 -48px repeat-x;  z-index:9000;}
.statusbar div{float:none; height:44px; line-height:40px;}
#coverimg{width:162px; height:162px; position:absolute; bottom:100px; right:280px; background:transparent url(../image/cover.png) no-repeat 0 0;}
#coverimg img{ width:150px; height:150px; margin:6px; broder:none;}
#coverimg img.loading{width:24px; height:24px; margin-top:65px; margin-left:65px;}

/*player*/
#jplayer_control{ position:absolute; top:0; right:10px;}
#jplayer_control a span{display:inline-block; width:18px; height:44px; background:transparent url(../image/mainbg.png) no-repeat -46px -1px;filter:alpha(opacity=60); opacity:0.6;}
#jplayer_control a:hover span{filter:alpha(opacity=100); opacity:1;}
#jplayer_control #jplayer_pause span{background-position:-64px -1px;}
#jplayer_control #jplayer_next span{background-position:-82px -1px;}
#jplayer_control #fav span{background-position:-101px -1px;}
#jplayer_control #fav span.star{background-position:-118px -1px; filter:alpha(opacity=100); opacity:1;}

#jplayer_control span.sep{display:inline-block; width:5px; height:44px; background:url("../image/dbradio2.png") no-repeat scroll -37px -1px transparent;#margin-right:5px;}

/*volume*/
#volumeInfo{width:110px; display:inline-block; height:44px;}
#jplayer_vbar,#vamount{display:inline-block; height:5px; background-color:#088; width:80px; font-size:0px;}
#jplayer_vbar{float:right;background-color:#ddd; margin-top:16px; cursor:pointer;}
#jplayer_control #jplayer_vmin span{background-position:-224px -1px;}
#jplayer_control #jplayer_vmin span.mute{background-position:-246px -1px;}

/*user-ico*/
#jplayer_control #user_ico span{background-position:-180px -1px;width:44px;}
#jplayer_control #channel_ico span{background-position:-137px -1px;width:44px;}

/*song infomation*/
#SongInfo, #PlayInfo{font:400 12px/3 微软雅黑,Arial; color:#444; cursor:default; line-height:40px;}
#SongInfo{width:415px; overflow:hidden; white-space: nowrap; position:absolute; right:320px;}
#SongInfo:hover{color:#080;}
#SongInfo div{height:28px; overflow:hidden; float:none; text-align:center; margin-top:5px;}
#SongInfo li{height:28px; line-height:28px; text-shadow:2px 2px 2px gray;}
#PlayInfo{display:inline-block; height:44px; width:70px; padding-top:-10px; position:relative; top:-20px; #top:-15px;}
#mrleft{margin-left:420px;}

#sidebar{ position:absolute; right:0; top:10%; background:url(../image/vsep.png) repeat-y scroll 0 0 transparent; width:220px;  height:70%; overflow:hidden; z-index:900;}
#sidebar-switch{position:absolute; top:45%; left:2px; height:16px; overflow:hidden; width:16px; cursor:pointer; background:url(../image/sprint2.gif) 4px -44px no-repeat transparent;}
#channel-list{width:150px; text-align:center; position:absolute; left:40px; top:30%;}
#channel-list li{ width:100px; border:1px solid #d6d6d7; margin:10px auto; padding:3px 0; color:#555; cursor:pointer;}
#channel-list li:hover{background:#ffb;color:#388;}
#channel-list li.cur{background:#388; color:#ddf; border-color:#388;}
#user-panel{color:gray; width:200px; position:absolute; top:80%; left:40px; filter:alpha(opacity=0); opacity:0;}
#user-panel li{height:22px; line-height:22px; width:155px;}
.graybtn{border:gray 1px solid; background:#eee; color:#555; padding:2px 18px;}
.loginTxt{width:155px; border:1px solid #bbb; color:gray;}
.regli a{color:gray;}
.regli a:hover{text-decoration:underline;}
#u-info,#u-reg,#lblmsg{display:none;}
#u-info li{height:auto; white-space:normal;}
#u-info .u-info-name{color:#088; text-shadow:2px 2px 2px gray; font-weight:600;}
#u-info .opli a{color:gray; background:transparent url(../image/sprint2.gif) 0 -122px no-repeat; display:inline-block; padding-left:26px; margin-right:10px; opacity:0.8; filter:alpha(opacity=80);}
#u-info .opli a:hover{ opacity:1; filter:alpha(opacity=100);}
#u-info #invitef{background-position: 0 -175px;}
#u-info #prof{background-position:0 -249px;}
#u-info #logout{background-position: 0 -200px;}

#sidecover, #sideloading{width:100%; height:100%;position:absolute; top:0; left:0; display:none;}
#sidecover{background:#fff; opacity:0.4; filter:alpha(opacity=40);}
#sideloading{background:transparent url(../image/loading.gif) no-repeat center center;}

/*validation*/
#lblmsg,#loginmsg{border:none; margin-bottom:8px;color:red;font-weight:600; height:auto!important;}
#loginmsg{filter:alpha(opacity=0);opacity:0; text-align:center;}
.onerror{border:1px solid red;}

/*user*/
#u-info li{overflow: visible; white-space: normal;}
#u-info li.opli{background:url(../image/hsep.png) repeat-x 0 0; margin-top:8px; padding-top:10px;}

/*favrate area*/
@font-face {
font-family: 'CodeLightRegular';
src: url('codelight-webfont.eot');
src: local('Code Light'), local('CodeLight'), url('font/codelight-webfont.woff') format('woff'), url('font/codelight-webfont.ttf') format('truetype'), url('font/codelight-webfont.svg#webfontqLOSVwJT') format('svg');
font-weight: normal;
font-style: normal;
}
#favlist{position:absolute; top:50px; right:250px; width:580px; height:300px; font:26px "CodeLightRegular","segoe ui light","century gothic regular","华文细黑","宋体";  overflow:hidden; color:#555; -moz-user-select:none; display:none;}
#favlist ul{position:absolute;top:0; left:0;}
#favlist div{position:relative;}
#favlist #list-top{position:absolute; top:0; left:50%; height:19px; width:19px; background:transparent url(../image/sprint2.gif) 4px -28px no-repeat; cursor:pointer; z-index:1000;}
#favlist #list-bottom{position:absolute; bottom:0; left:50%; height:19px; width:19px; background:transparent url(../image/sprint2.gif) -15px -28px no-repeat; cursor:pointer; z-index:1000; display:none;}

/*popalert*/
/*
#msgs{ position:absolute; top:0;left:48%; opacity:0; filter:alpha(opacity=0); padding-left:17px;}
#msgs,#msgs .right{background:transparent url(../image/leaf2.png) 0 0 no-repeat; height:28px;}
#msgs .right{background-position:right 0;padding-right:17px;}
#msgs .cont{color:#fff; background-color:#325f4a; height:28px; line-height:28px;}
*/
#msgs{ position:absolute; top:50px;left:50%; opacity:0; filter:alpha(opacity=0); padding:5px 10px; z-index:9999;}
.alertdiv{border:1px solid #088; background:#088; color:#eee;}
.errdiv{border:1px solid #a33; background:#a33; color:#eee;}

#ieupgrade{background:#ffe; border-bottom:1px solid gray; width:100%; height:24px; line-height:24px; position:absolute; top:0; left:0;}
#ieupgrade span.ietxt{padding-left:25px; color:#111; cursor:default; background:url(../image/sprint2.gif) no-repeat 5px 0;}
#ieupgrade span.ieclose{float:right; display:inline-block; width:10px; height:10px; background:url(../image/sprint2.gif) no-repeat 0 -18px; margin-top:8px; margin-right:10px; cursor:pointer;}
.iehover{background:navy!important;}
.iehover span.ietxt{color:#fff!important;}
.iehover span.ieclose{background-position:-10px -18px!important;}

#footer{position:absolute; bottom:0; left:0; width:100%; height:24px; line-height:24px; background:#efefef; color:#666; z-index:9998; padding-left:15px;}
#footer a{color:#666; margin:auto 6px;}
#footer a:hover{text-decoration:underline;}
#footer .rights{float:right; margin-right:35px;}

#bug{float:right; margin-right:20px; color:gray; padding:5px;}
#bug:hover{color:green; background:yellow;}

/*box*/
#box-main{width:500px; position:absolute; left:200px; top:80px; z-index:9000; display:none; color:#888;}
#b-head, #b-head div, #b-foot, #b-foot div{height:28px;}
#b-head .h-left,#b-head .h-right, #b-foot .f-left,#b-foot .f-right{background:url(../image/box/corner.png) no-repeat;}
#b-head .h-left{ background-position:0 0; padding-left:28px;}
#b-head .h-right{background-position:right 0; padding-right:30px; position:relative;}
#b-head .h-mid{background:#f4f4f4 url(../image/box/top.png) repeat-x 0 0;}
#b-body{ background:url(../image/box/left.png) repeat-y 0 0; padding-left:30px;}
#b-body .b-main{background:url(../image/box/right.png) repeat-y right 0; padding-right:15px;}
#b-body .b-cont{background:#fff; padding-top:40px;}
#b-foot .f-left{ background-position:0 bottom; padding-left:28px;}
#b-foot .f-right{ background-position:right bottom; padding-right:28px;}
#b-foot .f-mid{ background: #f4f4f4 url(../image/box/bottom.png) repeat-x 0 bottom;}
#boxclose{ width:30px; height:30px; background:url(../image/box/b-close.png) no-repeat 0 0; position:absolute; top:-8px; right:-8px; cursor:pointer;}
#boxtitle{width:67px; height:40px; background:url(../image/box/fonts.gif) no-repeat 0 0; position:absolute; top:20px; left:30px;}
#txtdiary{border:1px solid #eee; background:#ffe; font-size:12px; width:95%; height:80px; overflow-y:auto; color:#888; font-family:arial; resize:none;}
#subdiary{cursor:pointer; width:66px; height:28px; border:1px solid #ddd; background:url(../image/box/fonts.gif) no-repeat 0 -40px; margin:10px 10px 0 0; display:inline-block;}
#subdiary:hover{background-color:#ffb;}
#privateflag{ float:left; margin-top:15px;}
#diarylist{position:relative; margin-bottom:15px; min-height:100px; padding-top:10px;}
#diarylist .leftarr, #diarylist .rightarr{background:url(../image/sprint2.gif) no-repeat 0 -276px; width:19px; height:19px; position:absolute; top:35px; cursor:pointer;}
#diarylist .leftarr{left:0;}
#diarylist .rightarr{background-position:right -276px; right:20px;}
#diarylist .leftarr:hover{background-position:0 -294px;}
#diarylist .rightarr:hover{background-position:right -294px;}
#diarylist .diarytxt{position:relative; margin-left:30px; margin-right:45px;}
#diarylist .diarytxt .diarybody{line-height:16px;}
#diarylist #diaryop{margin-top:5px; padding-top:5px; border-top:1px dashed #ddd; text-align:right;}
#diaryop .icodel,#diaryop .icopublic, #diaryop .icoprivate{background:url(../image/sprint2.gif) no-repeat 0 -314px; display:inline-block; width:16px; height:16px; cursor:pointer;filter:alpha(opacity=60); opacity:0.6;}
#diaryop span:hover{filter:alpha(opacity=100); opacity:1;}
#diaryop .icopublic{background-position:0 -344px;}
#diaryop .icoprivate{background-position:0 -330px;}
#diaryop .diarytime{vertical-align:super;#vertical-align:middle; margin-left:5px;}
#diaryfoot{position:relative;}
#txtctr{position:absolute; right:90px; top:17px; font-weight:600; color:#999; font-size:16px; font-family:'helvetica neue', 'lucida grande', helvetica, arial;}

#publicdiary{color:#666; position:absolute; right:480px; top:50px; width:400px; font-size:12px; text-align:right; text-shadow:2px 2px 2px #ddd;}